## Author# Ganesh Kale
## Week# 11 & 12
## Date# Nov 14, 2021

### Activity 11   Retreiving Data From Database

#### _import required packages_

In [1]:
import numpy as np  # for numeric operations
import pandas as pd  # for data manipulation
import matplotlib.pyplot as plt  # for data visualization
import seaborn as sns  # for data visualization
import random   # for generating random numbers
import sqlite3  # for sqlite db connection

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [5]:
# Connect to petsDB and check whether the connection has been successful.

conn =  sqlite3.connect("Data/petsdb", timeout=10)

# create function to test the connection

def test_connection(conn):
    
    try:
        
        cursor = conn.cursor()
        cursor.execute("select * from persons limit 1")
        
        conn.close() 
        
        return True
    
    except sqlite3.ProgrammingError as error:
        
        print(f"Received error: {error}")

        return False
        
    except Exception as ex:
        
        print(f"Exception received: {ex}")
    
        return False

In [6]:
#  test the connection

print(f"The connection to petsdb is: {test_connection(conn)}")

The connection to petsdb is: True

In [8]:
# create function to run query on db table

def fetch_data(query):
    
    with sqlite3.connect("Data/petsdb", timeout=10) as conn:
        
        cursor = conn.cursor()
        
        results = cursor.execute(query)
        
        return results

In [10]:
# Find the different age groups in the persons database. 

query = '''
            select age, count(*) from persons
            group by age
'''

for row in fetch_data(query):
    print(f"Age Group:{row[0]}, Count: {row[1]}")

Age Group:5, Count: 2
Age Group:6, Count: 1
Age Group:7, Count: 1
Age Group:8, Count: 3
Age Group:9, Count: 1
Age Group:11, Count: 2
Age Group:12, Count: 3
Age Group:13, Count: 1
Age Group:14, Count: 4
Age Group:16, Count: 2
Age Group:17, Count: 2
Age Group:18, Count: 3
Age Group:19, Count: 1
Age Group:22, Count: 3
Age Group:23, Count: 2
Age Group:24, Count: 3
Age Group:25, Count: 2
Age Group:27, Count: 1
Age Group:30, Count: 1
Age Group:31, Count: 3
Age Group:32, Count: 1
Age Group:33, Count: 1
Age Group:34, Count: 2
Age Group:35, Count: 3
Age Group:36, Count: 3
Age Group:37, Count: 1
Age Group:39, Count: 2
Age Group:40, Count: 1
Age Group:42, Count: 1
Age Group:44, Count: 2
Age Group:48, Count: 2
Age Group:49, Count: 1
Age Group:50, Count: 1
Age Group:51, Count: 2
Age Group:52, Count: 2
Age Group:53, Count: 2
Age Group:54, Count: 2
Age Group:58, Count: 1
Age Group:59, Count: 1
Age Group:60, Count: 1
Age Group:61, Count: 1
Age Group:62, Count: 2
Age Group:63, Count: 1
Age Group:65, Count: 2
Age Group:66, Count: 2
Age Group:67, Count: 1
Age Group:68, Count: 3
Age Group:69, Count: 1
Age Group:70, Count: 1
Age Group:71, Count: 4
Age Group:72, Count: 1
Age Group:73, Count: 5
Age Group:74, Count: 3

In [11]:
# Find the age group that has the maximum number of people. 

query = '''
            select age, count(*) as cnt from persons
            group by age
            order by cnt desc
            limit 1
'''

for row in fetch_data(query):
    print(f"Maximum Age Group:{row[0]}, Count: {row[1]}")

Maximum Age Group:73, Count: 5

In [15]:
# Find the people who do not have a last name. 

query = '''
            select count(*) from persons
            where last_name is null
'''

for row in fetch_data(query):
    print(f"These many persons do not have last name: {row[0]}")

These many persons do not have last name: 60

In [16]:
# Find out how many people have more than one pet. 

query = '''
            select count(*) from (select count(owner_id) as cnt from pets
            group by owner_id
            having cnt > 1 )
'''

for row in fetch_data(query):
    print(f"There are total persons with more than one pet: {row[0]}")

There are total persons with more than one pet: 43

In [17]:
# Find out how many pets have received treatment. 

query = '''
            select count(*) from pets
            where treatment_done=1
'''

for row in fetch_data(query):
    print(f"These many pets received treatments: {row[0]}")

These many pets received treatments: 36

In [19]:
# Find out how many pets have received treatment and the type of pet is known. 


query = '''
            select count(*) from pets
            where treatment_done=1
            and pet_type is not null
'''

for row in fetch_data(query):
    print(f"These many pets received treatments with known types: {row[0]}")

These many pets received treatments with known types: 16

In [20]:
# Find out how many pets are from the city called east port. 


query = '''
            select count(*) from pets
            join persons on pets.owner_id = persons.id
            where persons.city='east port'

'''

for row in fetch_data(query):
    print(f"These many pets are from east port: {row[0]}")

These many pets are from east port: 49

In [22]:
# Find out how many pets are from the city called east port and who received a treatment.


query = '''
            select count(*) from pets
            join persons on pets.owner_id = persons.id
            where persons.city='east port'
            and pets.treatment_done = 1

'''

for row in fetch_data(query):
    print(f"These many pets are from east port and received treatments: {row[0]}")

These many pets are from east port and received treatments: 11

# END